<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="board">

	<!-- 1. 메인페이지로 간다.(with 글목록) -->
	<select id="goMain" parameterType="java.lang.Integer" resultType="com.tjoeun.spring.dto.PostDTO">
		select postNo, title, content, writer, regDate, viewCount, sameThinking, uploadFileName, boardNo, 
				(select count(*) from reply where postNo = f.postNo) as replyCount 
		from freeBoard f 
		where boardNo = #{boardNo}
		order by postNo DESC
	</select>


	<!-- 그 해당 게시판에 써져있는 게시글 수 가져오기(페이징 작업때문에 필요하다. ) -->
	<select id="getPostCnt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(*) from freeBoard where boardNo = #{boardNo}
   </select>
   
	
	<!-- 2. 글쓰기 Create (파일 업로드 반영) uploadFileName은 파일이름입니다. -->
	<insert id="writeProcess" parameterType="com.tjoeun.spring.dto.PostDTO" useGeneratedKeys="true" keyProperty="postNo">
		insert into freeBoard(boardNo, title, content, writer, regDate, uploadFileName) 
		values(#{boardNo}, #{title}, #{content}, #{writer}, Now(), #{uploadFileName, jdbcType=VARCHAR})
	</insert>



	<!-- 3. 글 하나 읽기 Reading -->
	<select id="read" parameterType="java.lang.Integer" resultType="com.tjoeun.spring.dto.PostDTO" >
		select postNo, title, content, writer, regDate, viewCount, sameThinking, uploadFileName, boardNo, (select count(*) from reply where postNo = f.postNo) as replyCount 
		from freeBoard f 
		where postNo = #{postNo}	
	</select>
	
	
	<!-- 4. 글 삭제 deleting -->
	<delete id="deleteBoard" parameterType="java.lang.Integer">
    	delete from freeBoard where postNo = #{postNo}
    </delete>
    
  
    
    <!-- 7. 좋아요 버튼 클릭 -->
	<update id="like" parameterType="java.lang.Integer">
		update freeBoard set sameThinking = sameThinking + 1 where postNo = #{postNo}
	</update>
	
   
    <!-- 5. 게시판 이름, 정보 가져오기 -->
    <select id="getBoardName" parameterType="java.lang.Integer" resultType="java.lang.String">
    	select boardName from boardInCategory where boardNo=#{boardNo}
    </select>
    
    
	<!-- 6. 조회수 증가 -->
	<update id="increasingViewCount" parameterType="java.lang.Integer">
		update freeBoard set viewCount = viewCount + 1 where postNo = #{postNo}
	</update>
	
		
	<!-- 8. 글 수정하기 -->
	<update id="modify" parameterType="com.tjoeun.spring.dto.PostDTO">
		update freeBoard
		set title = #{title}, content = #{content}, uploadFileName = #{uploadFileName, jdbcType=VARCHAR} 
		where postNo = #{postNo}
		<!-- 위의 file은 데이터베이스에 저장되어있는 파일이름을 저장하는 변수 -->
	</update>
	
	<!-- AJAX 게시글 검색 	-->
	<select id="searchList" parameterType="com.tjoeun.spring.dto.PostDTO" resultType="com.tjoeun.spring.dto.PostDTO">
		select * from freeBoard where boardNo = #{boardNo} 
			<if test="type!=null and type == 'title'">
				and title like CONCAT('%',#{keyword},'%')
			</if>
			<if test="type!=null and type == 'content'">
				and content like CONCAT('%',#{keyword},'%')
			</if>
			<if test="type!=null and type == 'writer'">
				and writer like CONCAT('%',#{keyword},'%')
			</if>
			order by postNo DESC 
	</select>
	
	
</mapper>